.popup-exp {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.8rem;
    align-items: center;
    margin: 0.8rem;

    font-size: 1rem;
}

.title {
    margin: none;
    text-align: center;
}

#page_thumb {
    max-height: 11rem;
}

.name-container {
    /*font-size: 0.7rem;*/
}

.add {
    background: DarkMagenta;
    border: none;
    border-radius: 0.5rem;
    padding: 1.1rem;
    text-align: center;
    color: white;
}

.add:hover {
    background: DarkViolet;
}